*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img2.jpg);
    background-size: cover;
    background-position: center;

}

nav{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo{
    color: white;
    font-size: 28px;

}

span{
    color:#450a14;
}


nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;

}
nav ul li a:hover{
    color: #450a14;
   
    transform: scale(1.3);
    cursor: pointer;
}

button{
    border: none;
    background: #450a14;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: transform 0.3s ease;
}

button:hover{
    transform: scale(1.3);
    cursor: pointer;
}